.faqItem-container {
  background-color: transparent;
  background-size: cover;
  width: 70vw;
  padding: 15px;
  border: 2px solid #d7dae6;
  border-radius: 10px;
  margin: 10px;
}

.question-container {
  background-color: transparent;
  background-size: cover;
  width: 68vw;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faq {
  color: #52606d;
  font-size: 23px;
  margin: 0px;
  margin-left: 10px;
}

.statusChange-button {
  background-color: transparent;
  border: 0px;
  margin: 0px;
  margin-right: 8px;
  cursor: pointer;
}

.buttonImage {
  height: 23px;
  width: 23px;
}

.horizontalLine {
  color: #d7dae6;
  width: 65vw;
  height: 2px;
}

.answer {
  color: #9aa5b1;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 15px;
}
